@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:regular,italic,700,700italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "icon_font";
  src: url("../fonts/icon_font.woff?pyzjlg") format("woff"), url("../fonts/icon_font.svg?pyzjlg#icon_font") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  font-family: "icon_font" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Arrow:before {
  content: "\e900";
}

.icon-arrow-btn:before {
  content: "\e901";
}

.icon-behance:before {
  content: "\e902";
}

.icon-block:before {
  content: "\e903";
}

.icon-Calendar:before {
  content: "\e904";
}

.icon-check:before {
  content: "\e905";
}

.icon-check_1:before {
  content: "\e906";
}

.icon-circles:before {
  content: "\e907";
}

.icon-circles_2:before {
  content: "\e908";
}

.icon-Clock:before {
  content: "\e909";
}

.icon-Community:before {
  content: "\e90a";
}

.icon-Convert:before {
  content: "\e90b";
}

.icon-dots:before {
  content: "\e90c";
}

.icon-Facebook:before {
  content: "\e90d";
}

.icon-Files:before {
  content: "\e90e";
}

.icon-Heart:before {
  content: "\e90f";
}

.icon-ic-calendar:before {
  content: "\e910";
}

.icon-ic-chat:before {
  content: "\e911";
}

.icon-ic-structure:before {
  content: "\e912";
}

.icon-ic-target:before {
  content: "\e913";
}

.icon-In:before {
  content: "\e914";
}

.icon-Instagram:before {
  content: "\e915";
}

.icon-Library:before {
  content: "\e916";
}

.icon-like:before {
  content: "\e917";
}

.icon-list:before {
  content: "\e918";
}

.icon-Mail:before {
  content: "\e919";
}

.icon-Microphone:before {
  content: "\e91a";
}

.icon-Phone:before {
  content: "\e91b";
}

.icon-Play:before {
  content: "\e91c";
}

.icon-Profile:before {
  content: "\e91d";
}

.icon-Search:before {
  content: "\e91e";
}

.icon-semicircle:before {
  content: "\e91f";
}

.icon-semicircles:before {
  content: "\e920";
}

.icon-shapes:before {
  content: "\e921";
}

.icon-Star:before {
  content: "\e922";
}

.icon-Telegram:before {
  content: "\e923";
}

.icon-Twitter:before {
  content: "\e924";
}

.icon-youtube:before {
  content: "\e925";
}

body {
  font-family: Lato;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 1 auto;
}

[class*=container] {
  max-width: 1300px;
  padding: 0px 10px;
  margin: 0 auto;
}

body._pc .header a:hover {
  color: rgb(255, 63, 58);
}

body._pc .header .header__menu-register:hover {
  color: rgb(255, 63, 58);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 700;
  color: rgb(66, 69, 81);
  font-size: 1rem;
  z-index: 50;
}
.header a {
  color: inherit;
}
.header__body {
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 47.94rem) {
  .header__body {
    min-height: 60px;
  }
}
.header__logo {
  padding: 0px 1.2%;
  position: relative;
  z-index: 50;
}
.header__menu {
  flex: 1 1 auto;
}
@media (max-width: 62rem) {
  .header__menu {
    position: fixed;
    top: 0;
    left: 120%;
    width: 100vw;
    height: 100vh;
    padding: 100px 0px 0px 0px;
    background-color: rgb(254, 220, 209);
    font-size: 1.875rem;
    z-index: 40;
    transition: left 0.5s ease 0s;
  }
}
.header__menu-items {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 62rem) {
  .header__menu-items {
    display: block;
  }
}
.header__menu-item a {
  display: inline-block;
  padding: 8px 1.2vw;
}
@media (max-width: 62rem) {
  .header__menu-item a {
    width: 100%;
    padding: 15px 0px;
    text-align: center;
  }
}
.header__menu-consultation {
  height: 52px;
  min-width: 206px;
}
@media (max-width: 47.95rem) {
  .header__menu-consultation {
    height: 30px;
    min-width: 120px;
    font-size: 0.875rem;
  }
}
.header__menu-register {
  white-space: nowrap;
  position: relative;
  z-index: 50;
  padding: 10px 10px;
  margin: 0px 0px 0px 0px;
}
@media (min-width: 47.95) {
  .header__menu-register {
    padding: 10px 27px;
    margin: 0px 20px 0px 10px;
  }
}
.header__menu-register .icon-Profile {
  padding: 0px 5px 0px 0px;
}
@media (max-width: 47.95) {
  .header__menu-register {
    padding: 10px 0px;
    margin: 0px;
  }
}
@media (max-width: 47.95rem) {
  .header__menu-register .register {
    display: none;
  }
}
.header .menu__burger {
  display: none;
  margin-right: 1.5%;
}
@media (max-width: 62rem) {
  .header .menu__burger {
    display: block;
    position: relative;
    z-index: 50;
  }
}
.header .menu__burger-body {
  width: 40px;
  height: 30px;
  position: relative;
}
.header .menu__burger-line1 {
  top: 0;
}
.header .menu__burger-line2 {
  top: 40%;
}
.header .menu__burger-line3 {
  bottom: 0;
}
.header .burger-line {
  width: 100%;
  height: 6px;
  background-color: rgb(66, 69, 81);
  border-radius: 3px;
  position: absolute;
  left: 0;
  transition: all 0.5s ease 0s;
}

.active .menu__burger-body .menu__burger-line1 {
  transform: translate(0px, 12px) rotate(45deg);
}
.active .menu__burger-body .menu__burger-line3 {
  transform: translate(0px, -12px) rotate(-45deg);
}
.active .menu__burger-body .menu__burger-line2 {
  opacity: 0;
}

@media (max-width: 62rem) {
  .active .header__menu {
    position: fixed;
    top: 0%;
    left: 0%;
    overflow: auto;
  }
}

body.active {
  overflow: hidden;
}

body.active .header::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90px;
  background-color: rgb(254, 220, 209);
  z-index: 50;
}
@media (max-width: 47.94rem) {
  body.active .header::before {
    height: 60px;
  }
}

.main__background {
  position: relative;
  background-color: rgb(254, 220, 209);
  overflow: hidden;
}
.main__container {
  position: relative;
}
.main__block {
  position: relative;
  z-index: 40;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 13.8% 0px 0px 0px;
}
@media (max-width: 47.94rem) {
  .main__block {
    padding: 90px 0px 0px 0px;
    display: block;
  }
}
.main__title {
  flex: 1 0 50%;
}
@media (max-width: 62rem) {
  .main__title {
    display: flex;
    justify-content: center;
  }
}
.main__title-play {
  display: flex;
  align-items: center;
}
.main__title-text {
  font-size: 0.875rem;
  font-weight: 700;
}
.main__title-title {
  font-size: 4rem;
  line-height: 5.25rem;
  font-weight: 900;
  margin: 30px 0px 60px 0px;
  transition: transform 0.5s ease 0s;
}
@media (max-width: 47.94rem) {
  .main__title-title {
    font-size: 3.125rem;
  }
}
@media (max-width: 62rem) {
  .main__title-buttons {
    display: flex;
    justify-content: space-between;
  }
}
.main__title-button-about {
  min-width: 147px;
  min-height: 52px;
  transition: transform 0.5s ease 0s;
}
@media (max-width: 62rem) {
  .main__title-button-about {
    margin: 0px 0px 0px 10px;
  }
}
@media (max-width: 47.94rem) {
  .main__title-button-about {
    min-width: 120px;
  }
}
.main__title-button-explore {
  min-width: 200px;
  min-height: 52px;
  margin: 0px 5%;
  transition: transform 0.5s ease 0s;
}
@media (max-width: 62rem) {
  .main__title-button-explore {
    min-width: 150px;
    margin: 0px 10px 0px 0px;
  }
}
@media (max-width: 47.94rem) {
  .main__title-button-explore {
    min-width: 120px;
  }
}
.main__img {
  position: relative;
  padding: 0px 0px 60% 0px;
  flex: 1 0 50%;
  margin: 20px 0px;
}
@media (min-width: 62rem) {
  .main__img {
    padding: 0px 0px 50% 0px;
  }
}
@media (min-width: 47.94rem) {
  .main__img {
    min-width: 450px;
  }
}
.main__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main__statistics {
  position: relative;
  z-index: 40;
  display: flex;
  justify-content: space-between;
  padding: 5% 16px 90px 16px;
}
@media (max-width: 47.94rem) {
  .main__statistics {
    flex-direction: column;
    align-items: center;
  }
}
.main__statistics-item {
  display: flex;
  align-items: center;
}
@media (max-width: 47.94rem) {
  .main__statistics-item {
    margin: 10px 20px;
  }
}
.main__statistics-number {
  font-size: 2.875rem;
  font-weight: 900;
  margin: 0px 12px 0px 0px;
}
@media (max-width: 47.94rem) {
  .main__statistics-number {
    font-size: 1.875rem;
  }
}
.main__statistics-text {
  flex: 0 1 auto;
}
.main__statistics-dot {
  display: flex;
  align-items: center;
}
.main__statistics-dot span {
  display: inline-block;
  min-width: 8px;
  min-height: 8px;
  background-color: rgb(255, 63, 58);
  border-radius: 50%;
  margin: 0px 5px;
}
@media (max-width: 47.94rem) {
  .main__statistics-dot {
    display: none;
  }
}
.main .main__background-icon {
  color: rgb(254, 230, 224);
  position: absolute;
  pointer-events: none;
}
.main__circles {
  font-size: 170px;
  top: 90%;
  left: -60px;
  animation: circles 7s ease infinite;
}
@keyframes circles {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(80px, -80px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.main__semicircles {
  top: 42%;
  left: 34%;
  font-size: 85px;
  animation: semicircles 4s ease infinite;
}
@keyframes semicircles {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.main__semicircle {
  font-size: 60px;
  top: 70%;
  left: 32%;
  animation: semicircle 4s ease infinite;
}
@keyframes semicircle {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(-70px, 0px) rotate(-100deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
.main__shapes-1 {
  font-size: 130px;
  top: -3%;
  right: 5%;
  animation: shapes-1 5s ease infinite;
}
@keyframes shapes-1 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 90px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.main__shapes-2 {
  font-size: 130px;
  top: 10%;
  left: 5%;
  transform: rotate(-135deg);
  animation: shapes-2 5s ease infinite;
}
@keyframes shapes-2 {
  0% {
    transform: rotate(-135deg) translate(0px, 0px);
  }
  50% {
    transform: translate(100px, -100px) rotate(-135deg);
  }
  100% {
    transform: rotate(-135deg) translate(0px, 0px);
  }
}
.main__dots {
  font-size: 180px;
  bottom: 15%;
  right: -2%;
  animation: dots 5s ease infinite;
}
@keyframes dots {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  50% {
    transform: translate(-100px, 0px) scale(1.5);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.loadPage1 .main__title-title {
  transform: translate(-100vw, 0%);
}

.loadPage2 .main__title-button-explore {
  transform: translate(-100vw, 0px);
}

.loadPage3 .main__title-button-about {
  transform: translate(-100vw, 0px);
}

.cause {
  padding: 7% 0px;
  position: relative;
  overflow: hidden;
}
.cause__body {
  display: flex;
  column-gap: 7%;
}
@media (max-width: 47.94rem) {
  .cause__body {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.cause__img {
  flex: 0 0 55%;
  min-height: 100%;
}
@media (max-width: 47.94rem) {
  .cause__img {
    flex: 0 0 95%;
    margin-bottom: 20px;
  }
}
.cause__img-block {
  position: relative;
  padding: 0px 0px 75% 0px;
  min-height: 100%;
}
.cause__img-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cause__content {
  padding: 0px 20px;
}
.cause__content-cubtitle {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0px 28px 0px;
  transform: translate(100vw, 0px);
  transition: transform 0.5s ease 0s;
}
.cause__content-title {
  font-weight: 900;
  font-size: 2.875rem;
  margin: 0px 0px 40px 0px;
  transform: translate(100vw, 0px);
  transition: transform 0.5s ease 0.3s;
}
.cause__content-lists {
  margin: 0px 0px 22px 0px;
  transform: translate(100vw, 0px);
  transition: transform 0.5s ease 0.6s;
}
.cause__content-list {
  line-height: 1.625rem;
  margin: 6px 0px;
  padding: 0px 0px 0px 30px;
  position: relative;
}
.cause__content-button {
  min-width: 160px;
  min-height: 44px;
  transform: translate(100vw, 0px);
  transition: transform 0.5s ease 0.9s;
}
.cause .icon-circles_2 {
  position: absolute;
  top: 40%;
  right: 2%;
  height: 1000px;
  font-size: 290px;
  color: rgba(255, 207, 45, 0.1);
  animation: circles_2i 15s ease infinite;
  transform: rotate(90deg);
}
@keyframes circles_2i {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.cause .icon-dots {
  position: absolute;
  top: 10%;
  left: -5%;
  transform: rotate(-45deg);
  font-size: 180px;
  color: rgb(255, 207, 45);
  animation: dots_i 10s ease infinite;
}
@keyframes dots_i {
  0% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
  50% {
    transform: translate(170px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
}

.move .cause__content-cubtitle,
.move .cause__content-title,
.move .cause__content-lists,
.move .cause__content-button {
  transform: translate(0vw, 0px);
}

.icon-check {
  position: absolute;
  top: 6px;
  left: 0;
  color: rgb(255, 63, 58);
}

.courses {
  margin: 0px 0px 50px 0px;
  color: rgb(30, 33, 44);
}
.courses__element-linck {
  opacity: 0;
  transition: opacity 1.3s ease 0.2s;
}
.courses__element-linck.move {
  opacity: 1;
}
.courses__head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0px 0px 50px 0px;
}
@media (max-width: 47.94rem) {
  .courses__head {
    display: block;
  }
}
.courses__subtitle {
  text-transform: uppercase;
  margin: 8px 0px;
}
.courses__title {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0px 0px 10px 0px;
}
.courses__button {
  margin: 0px 0px 10px 0px;
}
.courses__button-button {
  display: block;
  width: 202px;
  height: 52px;
}
@media (max-width: 47.94rem) {
  .courses__button-button {
    width: 100%;
    margin: 0 auto;
  }
}
.courses__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 30px;
}
@media (max-width: 40rem) {
  .courses__content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.courses__element {
  display: flex;
  column-gap: 30px;
  border: 1px solid rgb(229, 232, 237);
  border-radius: 4px;
  box-shadow: 2px 10px 20px 10px rgba(230, 230, 230, 0.6);
}
.courses__element:hover {
  box-shadow: 7px 10px 15px 10px rgba(230, 230, 230, 0.8), 3px 5px 10px 4px rgba(230, 230, 230, 0.8);
}
@media (max-width: 31rem) {
  .courses__element {
    display: block;
  }
}
@media (max-width: 31rem) {
  .courses__foto {
    position: relative;
    min-width: 214px;
    padding-bottom: 100%;
  }
}
@media (max-width: 31rem) {
  .courses__foto-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.courses__data {
  margin: 0px 10px 0px 5px;
}
.courses__speciality {
  font-size: 0.875rem;
  display: inline-block;
  padding: 3px 9px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  margin: 30px 0px 25px 0px;
}
@media (max-width: 31rem) {
  .courses__speciality {
    margin: 15px 0px 15px 0px;
  }
}
.courses__description {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-bottom: 20px;
}
@media (max-width: 31rem) {
  .courses__description {
    margin-bottom: 10px;
  }
}
.courses__price {
  color: rgb(120, 122, 128);
  margin-bottom: 10px;
}
.courses__marketing {
  background-color: rgb(3, 206, 164);
}
.courses__management {
  background-color: rgb(92, 135, 248);
}
.courses__design {
  background-color: rgb(234, 55, 112);
}
.courses__recruting {
  background-color: rgb(243, 151, 46);
}
.courses__money {
  color: rgb(255, 66, 66);
}

.benefits__titles {
  text-align: center;
  margin: 0px 5px 50px;
}
.benefits__subtitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 15% 5px 10px;
}
.benefits__title {
  font-size: 2.875rem;
  font-weight: 900;
}
.benefits__tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}
.benefits__tabs div {
  flex: 0 1 307px;
}
.benefits__tabs-button {
  display: block;
  color: rgb(154, 156, 165);
  width: 100%;
  height: 46px;
}
body._pc .benefits__tabs-button:hover {
  color: rgb(110, 111, 118);
  text-shadow: 0px 0px 1px rgb(110, 111, 118);
}
.benefits__tabs-body {
  position: relative;
}
.benefits__tabs-items {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.benefits__tabs-item {
  display: flex;
  margin: 7% 0px 10% 0px;
}
@media (max-width: 47.94rem) {
  .benefits__tabs-item {
    display: block;
  }
}
.benefits__tabs-content {
  flex: 0 0 50%;
  padding: 5px 12% 5px 0px;
  display: flex;
  align-items: center;
}
@media (max-width: 47.94rem) {
  .benefits__tabs-content {
    padding: 0px;
  }
}
.benefits__tabs-title {
  font-size: 2rem;
  font-weight: 900;
  margin: 0px 0px 24px 0px;
}
@media (max-width: 47.94rem) {
  .benefits__tabs-title {
    text-align: center;
  }
}
.benefits__tabs-text {
  line-height: 1.5625rem;
}
@media (max-width: 47.94rem) {
  .benefits__tabs-text {
    text-align: justify;
  }
}
.benefits__tabs-img {
  flex: 0 0 50%;
  position: relative;
  padding-bottom: 36%;
}
@media (max-width: 47.94rem) {
  .benefits__tabs-img {
    padding-bottom: 73%;
  }
}
.benefits__tabs-img-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.visible {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 1.5s cubic-bezier(0.16, -0.09, 0.43, 1.28) 0s;
}

.events {
  background-color: rgb(253, 221, 207);
}
.events__body {
  padding: 60px 10px;
}
.events__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0px 30px 0px;
  text-align: center;
}
.events__title {
  font-size: 2.875rem;
  font-weight: 900;
  margin: 0px 0px 35px 0px;
  text-align: center;
}
.events__event {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  margin: 15px 0px;
  padding: 25px 40px;
  border-radius: 4px;
  line-height: 1.5rem;
}
@media (max-width: 47.94rem) {
  .events__event {
    display: block;
  }
}
.events__date-dey {
  font-size: 3rem;
  color: rgb(255, 63, 58);
  font-weight: 900;
  display: flex;
  align-items: center;
}
.events__date {
  white-space: nowrap;
  margin: 15px 0px;
}
.events__month {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.events__time {
  font-size: 0.875rem;
  color: rgb(120, 122, 128);
}
.events__content {
  flex: 0 1 70%;
  margin: 15px 0px;
  line-height: 1.5rem;
}
.events__content-text {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.events__content-subtext {
  color: rgb(120, 122, 128);
}
.events__button {
  display: flex;
  align-items: center;
}
.events__button-button {
  width: 136px;
  height: 34px;
}
.events__bottom_button {
  text-align: center;
  margin: 60px 0px 20px 0px;
}
.events__bottom_button-text {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0px 20px;
}
.events__bottom_button-button {
  height: 42px;
  width: 242px;
  margin: 0px 20px;
}

.certificate__body {
  margin: 10% 0px 0px;
  display: flex;
}
@media (max-width: 47.94rem) {
  .certificate__body {
    display: block;
  }
}
.certificate__content {
  flex: 0 1 50%;
  padding: 0px 15% 0px 0px;
  min-width: 400px;
}
.certificate__subtitle {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0px 7% 0px;
}
.certificate__title {
  font-size: 2.875rem;
  font-weight: 900;
  margin: 0px 0px 9% 0px;
}
@media (max-width: 62rem) {
  .certificate__title {
    font-size: 1.875rem;
  }
}
@media (max-width: 47.94rem) {
  .certificate__title {
    font-size: 2.5rem;
  }
}
.certificate__text {
  margin: 0px 0px 30px 0px;
}
.certificate__logo {
  white-space: nowrap;
  margin-bottom: 29px;
}
.certificate__logo span {
  margin: 0px 3% 0px 0px;
}
.certificate__image {
  flex: 0 1 50%;
}
.certificate__img {
  position: relative;
  padding-bottom: 71%;
  min-width: 100%;
}
.certificate__img-img {
  position: absolute;
  top: 0;
  left: -15%;
  width: 115%;
  height: 115%;
  object-fit: cover;
  border: 1px solid rgb(229, 232, 237);
  box-shadow: -3px 15px 20px 3px rgb(229, 232, 237);
}
@media (max-width: 47.94rem) {
  .certificate__img-img {
    left: 0%;
    width: 100%;
    height: 100%;
  }
}

.slider {
  background-color: rgb(244, 245, 246);
}
.slider__team {
  padding: 140px 0px 0px 0px;
}
.slider__team-cubtitle {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0px 28px 0px;
}
.slider__team-title {
  font-size: 2.875rem;
  font-weight: 900;
  margin: 0px 0px 20px 0px;
}
.slider__team-items {
  margin: 40px 0px 0px 0px;
}
.slider__team-block {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 31rem) {
  .slider__team-block {
    display: block;
  }
}
.slider__team-item-foto {
  position: relative;
  padding-bottom: 120%;
}
.slider__team-item-foto:hover:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  box-shadow: inset 0px -100px 40px -40px rgba(0, 0, 0, 0.7);
}
.slider__team-item-foto:hover .icon-Facebook {
  display: inline-block;
}
.slider__team-item-foto:hover .icon-Instagram {
  display: inline-block;
}
.slider__team-item-foto:hover .icon-In {
  display: inline-block;
}
.slider__team-item-foto .icon-Facebook:hover {
  color: rgb(255, 255, 255);
}
.slider__team-item-foto .icon-Instagram:hover {
  color: rgb(255, 255, 255);
}
.slider__team-item-foto .icon-In:hover {
  color: rgb(255, 255, 255);
}
.slider__team-item-foto img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__team-item-foto .icon-Facebook {
  right: 84px;
}
.slider__team-item-foto .icon-Instagram {
  right: 52px;
}
.slider__team-item-foto .icon-In {
  right: 20px;
}
.slider__team-item-foto .icon-Facebook,
.slider__team-item-foto .icon-Instagram,
.slider__team-item-foto .icon-In {
  font-size: 1.125rem;
  color: rgb(167, 169, 173);
  position: absolute;
  bottom: 20px;
  z-index: 100;
  display: none;
}
.slider__team-name {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 0px 15px 0px;
}
.slider__team-speciality {
  text-align: center;
  margin: 0px 0px 10px 0px;
  color: rgb(120, 122, 128);
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  gap: 30px;
}

.slider__team-slickButton {
  align-self: flex-end;
}

/* Стрелка */
.slider__team .slick-arrow {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  font-size: 24px;
}

/* Стрелка влево */
._pc .slider__team .slick-arrow.slick-prev:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 63, 58);
}

/* Стрелка вправо */
.slider__team .slick-arrow.slick-next {
  transform: rotate(180deg);
}

._pc .slider__team .slick-arrow.slick-next:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 63, 58);
}

.slider__testimoniels {
  margin: 100px 0px;
}
.footer {
  background-color: rgb(30, 33, 44);
  color: rgb(166, 167, 171);
}
.footer a {
  color: rgb(166, 167, 171);
}
.footer__body {
  margin: 40px 0px 60px;
}
.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10px;
}
@media (max-width: 47.94rem) {
  .footer__content {
    display: block;
    text-align: center;
  }
}
.footer__logo {
  flex: 0 0 300px;
}
@media (max-width: 47.94rem) {
  .footer__logo {
    margin: 0 auto;
  }
}
.footer__logo-logo {
  margin: 40px 0px 27px 0px;
}
.footer__logo-text {
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin: 0px 0px 38px 0px;
}
.footer__icons-lists {
  display: flex;
}
@media (max-width: 47.94rem) {
  .footer__icons-lists {
    justify-content: center;
  }
}
.footer__list {
  margin: 0px 0px 20px 0px;
}
.footer__icons-linck {
  margin-right: 20px;
  font-size: 1.5rem;
}
.footer__general {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
  padding: 0px 10px;
}
@media (max-width: 47.94rem) {
  .footer__general {
    flex-wrap: wrap;
  }
}
.footer__map {
  flex: 0 0 30%;
}
.footer__title {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px 0px 24px 0px;
}
.footer__linck {
  white-space: nowrap;
}
.footer__courses {
  flex: 0 0 30%;
}
.footer__contact {
  flex: 0 0 30%;
}
.footer__newsletter {
  flex: 0 0 280px;
}
@media (max-width: 62rem) {
  .footer__newsletter {
    margin: 0 auto;
  }
}
.footer__input {
  position: relative;
}
.footer__input input {
  width: 100%;
  height: 36px;
  background-color: rgb(57, 60, 70);
  padding: 9px 40px 9px 12px;
  color: rgb(255, 255, 255);
}
@media (max-width: 47.94rem) {
  .footer__input input {
    font-size: 1.5rem;
  }
}
.footer__ps {
  margin-top: 20px;
}
.footer__bottom {
  background-color: rgb(41, 44, 55);
}
.footer__bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  column-gap: 15px;
}
.footer__signature {
  color: rgb(255, 255, 255);
}
.footer__top {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
}
.footer a:hover {
  color: rgb(255, 255, 255);
}
.footer .icon-arrow-btn {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 7px;
  right: 12px;
  font-size: 1.25rem;
  transform: rotate(180deg);
}
.footer .icon-arrow-btn:hover {
  text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 7px rgb(255, 255, 255), 0px 0px 12px rgb(255, 255, 255), 0px 0px 15px rgb(255, 255, 255);
}

.icon-Heart {
  color: rgb(255, 63, 58);
}

.button__style-red {
  position: relative;
  z-index: 50;
  background: linear-gradient(rgb(255, 63, 58), rgb(175, 64, 0));
  border-radius: 4px;
  color: rgb(255, 255, 255);
}

body._pc .button__style-red:hover {
  background: linear-gradient(rgb(255, 107, 102), rgb(174, 97, 53));
}

.button__style-transparent {
  border: 1px solid rgb(255, 63, 58);
  border-radius: 4px;
  color: rgb(255, 63, 58);
}

body._pc .button__style-transparent:hover {
  border: none;
  background: linear-gradient(rgb(255, 107, 102), rgb(174, 97, 53));
  color: rgb(255, 255, 255);
  text-shadow: none;
}